/* universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8FF;
}


/* shared styles */
.color-primary {
    color: #E95A08;
}


.font-primary {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 3.125rem;
}

.font-secondary {
    font-family: "Inter", sans-serif;
    font-size: 1.35rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

}

.text-alignment{
    text-align: center;
}



/* navbar styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 150px 120px;
}

.nav-menu-items {
    display: flex;
    gap: 48px;
}

.nav-menu-items a {
    text-decoration: none;
    margin-right:
}

#menu-item-home {
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}

#menu-item-shop,
#menu-item-about {
    color: rgba(137, 135, 161, 1);
}

#menu-item-cart {
    color: #000000;
}



/* Banner styles */
.banner {
    display: flex;
    margin: 0 150px 120px;
    align-items: flex-end;
}

.banner-title{
    font-size: 3.5rem;
}

.banner-description {
    margin-top: 0.8rem;
}




/* Our Plants Section  */

.section-our-plants {
    margin: 0 150px 210px;
}

.our-plants-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 50px;
}

.our-plants-products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 30px;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.product-img {
    width: 100%;
    height: auto;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9rem;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
}

.product-name{
    font-weight: 500;
    color: #111111;
    text-align: center;
}

.product-price{
    font-weight: 700;
    color: #111111;
    text-align: center;
}



.btn-add-to-cart {
    background-color: #E95A08;
    color: #FFFFFF;
    width: 100%;
    padding: 15px 50px;
    border: none;
}




/* Flower and Plants lovers Section starts styles */
.section-plants-lover {
    display: flex;
    gap: 60px;
    margin: 0 150px 130px;
    align-items: center;
}


.img-container {
    position: relative;
    display: inline-block;
}

.img-flower-store {
    display: block;
}

.img-trusted {
    position: absolute;
    top: -120px;
    right: -100px;
    width: 286px;
    height: 286px;
    animation: spin 5s linear infinite;
}

.plants-lover-description {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.plants-lover-description li {
    margin-bottom: 20px;
}



/* Join Brunch section style  */
.section-join-brunch {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/news-letter-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 530px;
    opacity: 1;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.join-brunch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

}


.join-brunch-title {
    font-size: 3rem;
    font-weight: 700;
}

form {
    display: flex;
    width: 125%;
}

form input {
    flex: 1;
    padding: .5rem 1.25rem;
    font-size: 1rem;
}

.btn-subscribe {
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 1rem 3rem;
    border: none;
    flex: 0 0 30%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1rem;
}




/* Footer styles  */
footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-gap: 7rem;
    margin: 0 150px 50px;
}

.brand-details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* background-color: aqua; */
}

.brand-details img{
    width: 50%;
}

.menu-items-one,
.menu-items-two {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
}

.social-media-links {
    display: flex;
    gap: 1.5rem;
}

.social-media-links img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 3rem;
}



/* Animations */
/* trusted badge animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}