/* universal styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F8FF;
}


/* shared styles */
.color-primary {
    color: #E95A08;
}


.font-primary {
    font-family: "Noto Serif", serif;
    font-weight: 700;
    font-size: 3.125rem;
}

.font-secondary {
    font-family: "Inter", sans-serif;
    font-size: 1.35rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.5);

}

.text-center {
    text-align: center;
}



/* navbar styles */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.9rem 9.375rem 7.5rem;
}

.nav-menu-items {
    display: flex;
    gap: 3rem;
}

.nav-menu-items a {
    text-decoration: none;
}

#menu-item-home {
    color: rgba(37, 36, 50, 1);
    font-weight: 600;
}

#menu-item-shop,
#menu-item-about {
    color: rgba(137, 135, 161, 1);
}

#menu-item-cart {
    color: #000000;
}



/* Banner styles */
.banner {
    display: flex;
    margin: 0 9.375rem 7.5rem;
    align-items: flex-end;
}

.banner-title {
    font-size: 3.5rem;
}

.banner-description {
    margin-top: 0.8rem;
}




/* Our Plants Section  */

.section-our-plants {
    margin: 0 9.375rem 13.125rem;
}

.our-plants-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3.1rem;
}

.our-plants-products-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.9rem 1.25rem;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 1.9;
}

.product-img {
    width: 100%;
    height: auto;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9rem;
}

.product-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125rem;
}

.product-name {
    font-weight: 500;
    color: #111111;
    text-align: center;
}

.product-price {
    font-weight: 700;
    color: #111111;
    text-align: center;
}



.btn-add-to-cart {
    background-color: #E95A08;
    color: #FFFFFF;
    width: 100%;
    padding: 1rem 3.1rem;
    border: none;
    font-size: 1rem;
    font-weight: 600;
}




/* Flower and Plants lovers Section starts styles */
.section-plants-lover {
    display: flex;
    gap: 3.75rem;
    margin: 0 9.375rem 8.125rem;
    align-items: center;
}


.img-container {
    position: relative;
    display: inline-block;
    flex: 1;
}

.img-flower-store {
    display: block;
    width: 100%;

}

.img-trusted {
    position: absolute;
    top: -7.5rem;
    right: -6.35rem;
    width: 17.875rem;
    height: 17.875rem;
    animation: spin 5s linear infinite;
}

.plants-lover-description {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    flex: 1;
}

.plants-lover-description li {
    margin-bottom: 1.25rem;
}


/* Latest Deals styles  */
.section-latest-deals {
    margin: 0 9.375rem 7.5rem;
}



.latest-deals-headings {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 7.5rem;
}


.deals-container {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.75rem;
}

.deals-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 100%;
}


.deal-first,
.deal-second {
    flex: 1;
    min-height: 12.5rem;
}

.deals {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    color: #FFFFFF;
    border-radius: 1rem;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.deals h3 {
    font-size: 1.25rem;
}

.deals h2 {
    font-size: 2.5rem;
}

.deals a {
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 600;
}

.deal-third a {
    font-size: 1.75rem;
}



.deal-first {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url('../assets/deal-bloom.png');
}

.deal-second {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url('../assets/deal-ana.png');
}

.deal-third {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4)), url('../assets/deal-zabo.png');
    height: 100%;
    min-height: 26.5rem;
}



/* Join Brunch section style  */
.section-join-brunch {
    margin-bottom: 3.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(7, 51, 79, 0.4)), url('../assets/news-letter-bg.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    min-height: 33.125rem;
    opacity: 1;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}


.join-brunch {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

}


.join-brunch-title {
    font-size: 3rem;
    font-weight: 700;
}

form {
    display: flex;
    width: 125%;
}

form input {
    flex: 1;
    padding: .5rem 1.25rem;
    font-size: 1rem;
}

.btn-subscribe {
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 1rem 3rem;
    border: none;
    flex: 0 0 30%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 1rem;
}




/* Footer styles  */
footer {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 2fr;
    grid-gap: 7rem;
    margin: 0 9.375rem 3.125rem;
}

.brand-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brand-details img {
    width: 50%;
}

.menu-items-one,
.menu-items-two {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

footer li {
    list-style: none;
}

footer li a {
    text-decoration: none;
    /* font-size: 1.5rem; */
    color: gray;
}

.social-media-links {
    display: flex;
    gap: 1.5rem;
}

.social-media-links img {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 3rem;
}



/* Animations */
/* trusted badge animation */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



/* Mobile responsive styles */
@media only screen and (max-width:576px) {

    .nav-container {
        margin: 1rem 1rem 1.75rem;
    }

    #menu-item-home,
    #menu-item-shop,
    #menu-item-about {
        display: none;
    }



    /* Banner styles  */
    .banner {
        flex-direction: column-reverse;
        margin: 0;
    }

    .banner-text {
        margin: 1.75rem 1rem 0;
    }

    .banner-title {
        font-size: 1.5rem;
    }

    .banner-description {
        font-size: 1rem;
    }


    /* Our plants styles  */
    .section-our-plants {
        margin: 4rem 1rem 2.5rem;
    }

    .our-plants-heading {
        margin-bottom: 1.75rem;
    }

    .our-plants-title {
        font-size: 1.5rem;
    }

    .our-plants-description {
        font-size: 1rem;
    }

    .our-plants-products-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .product-name,
    .product-price {
        font-size: 1rem;
    }


    /* Plants Lovers styels  */
    .section-plants-lover {
        flex-direction: column;
        gap: 1.125rem;
        margin: 0 1rem 9rem;
    }

    .img-trusted {
        display: none;
    }

    .plants-lover-title {
        font-size: 1.5rem;
    }

    .plants-lover-description li {
        font-size: 0.9rem;
    }


    /* Latest deals styles  */

    .section-latest-deals {
        margin: 0 1rem 2.5rem;
    }

    .latest-deals-headings {
        margin-bottom: 3.2rem;
    }

    .latest-deals-title {
        font-size: 1.5rem;
    }

    .latest-deals-subtitles {
        font-size: 0.9rem;
    }

    .deals-container {
        grid-template-columns: 1fr;
        gap: 1.25rem;
    }

    .deals {
        min-height: 11.5rem;
    }

    .deals h3,
    .deals h2 {
        font-size: 1.25rem;
    }

    .deals a {
        font-size: 1rem;
    }



    /* Join Brunch section styles  */
    .section-join-brunch {
        min-height: 17.2rem;
    }


    .join-brunch-title {
        font-size: 1.25rem;
    }

    form {
        max-width: 100%;
    }

    .btn-subscribe {
        font-size: 1rem;
    }



    /* Footer styles  */
    footer {
        margin: 0 1.25rem 3.125rem;
        grid-template-columns: 1fr;
        gap: 1.25rem;
    }

    footer .brand-description {
        font-size: 1rem;
    }



}